<div class="container-fluid app-download-container h-100">
  <div class="row">
    <div class="col-6 pl-0 pr-0">
      <div class="left-pannel">
        <div class="left-pannel-wrpr">
          <img  class="text-img" src="../assets/img/luau_text15.png">
          <p class="dscnt-txt font-atomicage">12% off<br>up to $500</p>
          <a href="https://apps.apple.com/us/app/luau-hack-shopping/id1348751802" target="blank">
              <img  class="istore-img" src="../assets/img/istore15.png">
          </a>
        </div>
      </div>
    </div>
    <div class="col-6 pl-0 pr-0">
      <div class="right-pannel">
        <div class="right-pannel-wrpr">
          <img  class="logo-img" src="../assets/img/logo15.png">
          <p class="ever-dy-txt font-atomicage">every day<br>12:00-12:12pm</p>
          <div class="version-txt">v 4.2.1</div>
          <!-- <img  class="version-img" src="../assets/img/version.PNG"> -->
        </div>
        <a class="right-bottom" routerLink="/ObjectView">Click</a>
      </div>
    </div>
  </div>
</div>
